<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       throwExceptions="true" autoReload="true" globalThreshold="Warn">

  <extensions>
    <add assembly="FBRLogger.NLogTarget"/>
  </extensions>

  <targets>
    <target name="console" xsi:type="ColoredConsole" Layout = "${time} ${level:uppercase=true} ${logger} ${message}"
            UseDefaultRowHighlightingRules = "true"/>
    <target name="fbr" xsi:type="FBR" Host="192.168.0.100" Port="9998" />
  </targets>

  <rules>
    
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" writeTo="fbr" />
    
  </rules>
  
</nlog>