<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Tpl.Dataflow" version="4.5.23" targetFramework="net451" />
  <package id="MonoGame.Binaries" version="3.2.0" targetFramework="net451" />
  <package id="NLog" version="3.1.0.0" targetFramework="net451" />
  <package id="NLog.Config.Moon" version="1.0.2" targetFramework="net451" />
</packages>